In [2]:
import pandas as pd
import numpy as np

In [3]:
def not_exist_searcher(comp:list[int], lack:list[int]) -> list[int]:
    a = comp.copy()
    b = lack.copy()
    not_exist = []
    for _ in range(len(b)):
        try:
            if a[0] == b[0]:
                a = np.delete(a, 0)
                b = np.delete(b, 0)
            if a[0] != b[0]:
                not_exist.append(a[0].item())
                a = np.delete(a, 0)
        except IndexError:
            pass
    return np.array(not_exist)

### product_id を int型にする

In [4]:
df = pd.read_csv('df_user.csv', index_col='Unnamed: 0')
df['product_int'] = [int(data[:-2]) for data in df.product_id.values]
df.head(5)

   user_id  product_id  score  product_int
0        0  00001254_a      5         1254
1        0  00003009_a      5         3009
2        0  00003316_a      5         3316
3        0  00003524_a      5         3524
4        0  00004433_a     10         4433

### 目的のarrayの形状を全てNoneで生成（欠番がない状態で生成する）

In [5]:
columns = np.sort(df.product_int.unique())
columns_length = np.arange((columns.max() + 1))

index = df.user_id.unique()
index_length = np.arange((index.max() + 1))

nan_frame = np.full((max(index)+1, max(columns)+1), None)

### 生成したarrayに対応する場所を上書きする

In [6]:
for user_id, product_id, score in zip(df.user_id, df.product_int, df.score):
    nan_frame[user_id, product_id] = score

### arrayからDataFrameを作成

In [7]:
data_frame = pd.DataFrame(nan_frame, index=index_length, columns=columns_length)

### 欠落したcolumnやindexを削除

In [8]:
# 欠落カラムの選別
not_columns = not_exist_searcher(columns_length, columns)

# 欠落インデックスの選別
not_indices = not_exist_searcher(index_length, index)

## 存在しないカラムとインデックスを削除

In [9]:
data_frame = data_frame.drop(not_columns, axis=1)
data_frame = data_frame.drop(not_indices, axis=0)

In [10]:
data_frame

,0,1,2,3,4,5,6,7,8,9,...,14113,14114,14115,14116,14117,14118,14119,14120,14121,14122
0,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58653,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
58654,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
58655,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
58656,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,5,None,None
58657,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

### 確認

In [11]:
df.head()

   user_id  product_id  score  product_int
0        0  00001254_a      5         1254
1        0  00003009_a      5         3009
2        0  00003316_a      5         3316
3        0  00003524_a      5         3524
4        0  00004433_a     10         4433

In [12]:
user_id = 0
product_id = 3524

data_frame.loc[user_id, product_id]

5

In [13]:
data_frame.head()

,0,1,2,3,4,5,6,7,8,9,...,14113,14114,14115,14116,14117,14118,14119,14120,14121,14122
0,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [14]:
data_frame.loc[0, 1254]

5